<a href="https://colab.research.google.com/github/fowardelcac/Titanic_2.0/blob/main/Datasets_originales/Procesamiento/proceso_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/fowardelcac/Titanic_2.0.git

fatal: destination path 'Titanic_2.0' already exists and is not an empty directory.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('/content/Titanic_2.0/Datasets_originales/test.csv').set_index('PassengerId')
df = df.drop(['Name', 'Ticket', 'Cabin', 'Fare', 'Embarked'], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    object
 2   Age     332 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 19.6+ KB

In [4]:
mapeo = {'male': 0, 'female': 1}
df.Sex = df.Sex.map(mapeo)

In [5]:
serie = df['Age'].dropna()
size = df.Age.isnull().sum()
s = pd.Series(np.random.choice(serie, size))
df['Age'].fillna(0, inplace=True)
mask = (df['Age'] == 0)  # MÃ¡scara para identificar los valores 0 en la columna 'Age'
random_values = np.random.choice(s, size=mask.sum())  # Valores aleatorios de la serie 's'

df.loc[mask, 'Age_imp'] = random_values